<h1>Forget password?</h1>

<div class="error_message" > <%= flash[:notice]%> </div>
<%= form_with url:"/account/forget_password" , method: :post do |f| %>
    <div class="input-box">
        <%= f.label :email %> <br />
        <%= f.email_field :email %>
    </div>

    <div class="button input-box btn">
        <%= f.submit "Get new password" %>
    </div>
<%end%>
