<h1>Reset password</h1>

<%= flash[:notice]%>
<%= form_with url: "/account/reset_password" , method: :post do |f| %>
    <div class="input-box">
        <%= f.label :set_new_password  %> <br />
        <%= f.password_field :password %>
    </div>
    <div class="input-box">
        <%= f.label :confirm_new_password %> <br />
        <%= f.password_field :password %>
    </div>

<br>
    <div class="button input-box btn">
        <%= f.submit "Set password"%>
    </div>
<%end%>
